Repository leriksen/pg: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks_secret_drivers.yml, pipelines/cluster_config.yml, pipelines/docker_deploy.yml, pipelines/infra_deploy_dev.yml, pipelines/loggers_helm_deploy.yml, pipelines/pg_helm_deploy.yml, pipelines/secrets_helm_deploy.yml, pipelines/test_solution.yml, pipelines/writers_helm_deploy.yml

Path conditions:
  pipelines/aks_secret_drivers.yml: any of: pipelines/aks_secret_drivers.yml
  pipelines/cluster_config.yml: any of: pipelines/cluster_config.yml, helm
  pipelines/docker_deploy.yml: any of: docker/Dockerfile, pipelines/docker_deploy.yml, sql, scripts/run_sql.sh
  pipelines/infra_deploy_dev.yml: any of: pipelines/infra_deploy_dev.yml, terraform, modules, scripts/terraform_*.sh
  pipelines/loggers_helm_deploy.yml: any of: pipelines/loggers_helm_deploy.yml, helm/loggers
  pipelines/pg_helm_deploy.yml: any of: pipelines/pg_helm_deploy.yml, helm/postgres
  pipelines/secrets_helm_deploy.yml: any of: pipelines/secrets_helm_deploy.yml, helm/secrets
  pipelines/test_solution.yml: any of: scripts/run_sql.sh, sql
  pipelines/writers_helm_deploy.yml: any of: pipelines/readers_helm_deploy.yml, helm/readers

move to a job
  helm/postgres/templates/deployment.yaml
  helm/postgres/templates/job.yaml
Due: pipelines/cluster_config.yml, pipelines/pg_helm_deploy.yml

move to a job
  helm/postgres/templates/job.yaml
Due: pipelines/cluster_config.yml, pipelines/pg_helm_deploy.yml

move to a job
  pipelines/pg_helm_deploy.yml
  scripts/run_sql.sh
  sql/01_create_database.sql
  sql/manifest.txt
Due: pipelines/docker_deploy.yml, pipelines/pg_helm_deploy.yml, pipelines/test_solution.yml

add consumer
  helm/postgres/templates/job.yaml
Due: pipelines/cluster_config.yml, pipelines/pg_helm_deploy.yml

remove consumer
  helm/postgres/templates/job.yaml
Due: pipelines/cluster_config.yml, pipelines/pg_helm_deploy.yml

enable builtin CSI and KV driveer for aks
  terraform/aks.tf
  terraform/akv.tf
Due: pipelines/infra_deploy_dev.yml

use values from KV, except for host, as that is dynamically written to the azdo vg
  pipelines/pg_helm_deploy.yml
Due: pipelines/pg_helm_deploy.yml

test populating env fom akv
  helm/busybox/.helmignore
  helm/busybox/Chart.yaml
  helm/busybox/templates/_helpers.tpl
  helm/busybox/templates/pod.yaml
  helm/busybox/templates/secret-provider-class.yaml
  helm/busybox/values.yaml
  pipelines/busybox_helm_deploy.yml
Due: pipelines/cluster_config.yml

fix name
  helm/busybox/Chart.yaml
Due: pipelines/cluster_config.yml

fix trigger
  helm/postgres/templates/job.yaml
  helm/postgres/values.yaml
  pipelines/busybox_helm_deploy.yml
Due: pipelines/cluster_config.yml, pipelines/pg_helm_deploy.yml

update secret provider class name
  helm/busybox/values.yaml
Due: pipelines/cluster_config.yml

store umi in azdo vg
  terraform/ado.tf
Due: pipelines/infra_deploy_dev.yml

store umi in azdo vg as secret
  terraform/ado.tf
Due: pipelines/infra_deploy_dev.yml

testing csi
  helm/busybox/templates/pod.yaml
  helm/busybox/templates/secret-provider-class.yaml
  pipelines/busybox_helm_deploy.yml
Due: pipelines/cluster_config.yml

remove deleted gr
  pipelines/aks_secret_drivers.yml
  pipelines/busybox_helm_deploy.yml
  pipelines/docker_deploy.yml
  pipelines/infra_deploy_dev.yml
  pipelines/loggers_helm_deploy.yml
  pipelines/pg_helm_deploy.yml
Due: pipelines/aks_secret_drivers.yml, pipelines/docker_deploy.yml, pipelines/infra_deploy_dev.yml, pipelines/loggers_helm_deploy.yml, pipelines/pg_helm_deploy.yml

restore vg ref
  pipelines/infra_deploy_dev.yml
  terraform/pg.tf
Due: pipelines/infra_deploy_dev.yml

remove secret provider provisioning
  pipelines/aks_secret_drivers.yml
Due: pipelines/aks_secret_drivers.yml

remove pipeline trigger for removed pipeline
  pipelines/pg_helm_deploy.yml
Due: pipelines/pg_helm_deploy.yml

add diagnostics, use inbuilt extension for kv csi and driver
  helm/busybox/templates/pod.yaml
  helm/busybox/templates/secret-provider-class.yaml
  helm/env-dev.sh
  terraform/akv.tf
  terraform/sa.tf
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

fix deprecation warnings
  terraform/akv.tf
Due: pipelines/infra_deploy_dev.yml

fix issue with syntax highlighter
  terraform/akv.tf
Due: pipelines/infra_deploy_dev.yml

initial kube secret port
  helm/busybox/templates/pod.yaml
  helm/busybox/templates/secret-provider-class.yaml
  helm/busybox/values.yaml
Due: pipelines/cluster_config.yml

process array values as kube secrets
  helm/busybox/templates/config_map.yml
  helm/busybox/templates/pod.yaml
  helm/busybox/templates/secret-provider-class.yaml
Due: pipelines/cluster_config.yml

move to env from secrets and maps
  helm/postgres/templates/config_map.yml
  helm/postgres/templates/job.yaml
  helm/postgres/templates/secret-provider-class.yaml
  helm/postgres/values.yaml
Due: pipelines/cluster_config.yml, pipelines/pg_helm_deploy.yml

fix kv restore, update init script to work prior to resource creation, enable full manifest
  sql/manifest.txt
  terraform/akv.tf
  terraform/env-dev.sh
  terraform/provider.tf
Due: pipelines/docker_deploy.yml, pipelines/infra_deploy_dev.yml, pipelines/test_solution.yml

update busybox for dynamic config map name
  helm/busybox/templates/config_map.yml
  helm/busybox/values.yaml
Due: pipelines/cluster_config.yml

fix postgres chart reference to dynamic config map name
  helm/postgres/templates/job.yaml
Due: pipelines/cluster_config.yml, pipelines/pg_helm_deploy.yml

.terraformignore support to speed and secure uploads
  .terraformignore
Due: none

align client and server to required spce
  docker/Dockerfile
  pipelines/pg_helm_deploy.yml
Due: pipelines/docker_deploy.yml, pipelines/pg_helm_deploy.yml

align client and server to required spce
  modules/context/globals/outputs.tf
Due: pipelines/infra_deploy_dev.yml

testing of var setting syntax
  fixtures/secrets.json
  scripts/run_sql.sh
  sql/05_users.sql
Due: pipelines/docker_deploy.yml, pipelines/test_solution.yml

update tf for just a mgrations tool for now
  modules/context/environment/main.tf
  modules/context/environment/outputs.tf
  pipelines/db_migrate_dev.yml
  terraform/acr.tf
  terraform/ado.tf
  terraform/aks.tf
  terraform/akv.tf
Due: pipelines/infra_deploy_dev.yml

initial db-migrate install
  node/README.md
  node/package-lock.json
  node/package.json
  pipelines/db_migrate_dev.yml
Due: none

fix upstream name
  pipelines/db_migrate_dev.yml
Due: none

parameters for pipeline
  pipelines/db_migrate_dev.yml
Due: none

dry run migration
  pipelines/db_migrate_dev.yml
Due: none

fix cli
  pipelines/db_migrate_dev.yml
Due: none

fix param
  pipelines/db_migrate_dev.yml
Due: none

install nm rather than ci, echo command
  pipelines/db_migrate_dev.yml
Due: none

final migration test with IPE for sqls and environment variables
  migrations/database-init.json
  migrations/env-local.sh
  migrations/migrations/20240602034204-schema.js
  migrations/migrations/20240602071129-admin-user.js
  migrations/migrations/sqls/20240602034204-schema-down.sql
  migrations/migrations/sqls/20240602034204-schema-up.sql
  migrations/migrations/sqls/20240602071129-admin-user-down.sql
  migrations/migrations/sqls/20240602071129-admin-user-up.sql
  pipelines/db_migrate_dev.yml
  scripts/migrate_sql.sh
Due: none
