Repository leriksen/pg: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks_secret_drivers.yml, pipelines/cluster_config.yml, pipelines/db_migrate_dev.yml, pipelines/docker_deploy.yml, pipelines/infra_deploy_dev.yml, pipelines/loggers_helm_deploy.yml, pipelines/pg_helm_deploy.yml, pipelines/secrets_helm_deploy.yml, pipelines/test_solution.yml, pipelines/writers_helm_deploy.yml

pipelines/aks_secret_drivers.yml:
  pool: ipam-devops
  stages:
  - stage: secretproviderclass
    displayName: Config Secret Provider Drivers
    jobs:
    - deployment: secretproviderclass
      displayName: Config Secret Provider Drivers
      workspace:
        clean: all
      environment: $(environment)
      strategy:
        runOnce:
  ...

pipelines/cluster_config.yml:
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: config
    displayName: Config Cluster
    jobs:
    - deployment: config
      displayName: Config Cluster
      workspace:
        clean: all
      environment: $(environment)
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
  ...

pipelines/db_migrate_dev.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: db_migrate
    displayName: Migrate DB
    jobs:
    - deployment: db_migrate
      displayName: Migrate DB
      workspace:
        clean: all
      environment: $(environment)
      strategy:
        runOnce:
          deploy:
            steps:
  ...

pipelines/docker_deploy.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
    - job: Build
      displayName: Build job
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          buildContext: $(Build.SourcesDirectory)
  ...

pipelines/infra_deploy_dev.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ./templates/plan.yml
    parameters:
      tf_creds: credentials.tfrc.json
      tf_workspace: pg
  - template: ./templates/apply.yml
    parameters:
      tf_creds: credentials.tfrc.json
      tf_workspace: pg
      environment: $(environment)

pipelines/loggers_helm_deploy.yml:
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: deploy_helm
    displayName: Deploy Helm
    jobs:
    - deployment: helm
      displayName: Deploy Helm
      workspace:
        clean: all
      environment: $(environment)
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
  ...

pipelines/pg_helm_deploy.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: deploy_helm
    displayName: Deploy Helm
    jobs:
    - deployment: helm
      displayName: Deploy Helm
      workspace:
        clean: all
      environment: $(environment)
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
  ...

pipelines/secrets_helm_deploy.yml:
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: secretproviderclass
    displayName: Config Secret Provider Class
    jobs:
    - deployment: secretproviderclass
      displayName: Config Secret Provider Class
      workspace:
        clean: all
      environment: $(environment)
      strategy:
        runOnce:
  ...

enable migration
  scripts/migrate_sql.sh
Due: none

test against azure postgresql
  pipelines/db_migrate_dev.yml
Due: pipelines/db_migrate_dev.yml

check dir
  migrations/migrations/sqls/20240602071129-admin-user-up.sql
  pipelines/db_migrate_dev.yml
Due: pipelines/db_migrate_dev.yml

fix path
  pipelines/db_migrate_dev.yml
Due: pipelines/db_migrate_dev.yml

run via npx
  pipelines/db_migrate_dev.yml
Due: pipelines/db_migrate_dev.yml

global install
  pipelines/db_migrate_dev.yml
Due: pipelines/db_migrate_dev.yml

turn on SSL for azure pg
  migrations/database-init.json
  migrations/database.json
Due: pipelines/db_migrate_dev.yml

fix initial json config path
  pipelines/db_migrate_dev.yml
  scripts/migrate_sql.sh
Due: pipelines/db_migrate_dev.yml

additional trigger
  pipelines/db_migrate_dev.yml
Due: pipelines/db_migrate_dev.yml

use secret for read user
  pipelines/db_migrate_dev.yml
Due: pipelines/db_migrate_dev.yml

conditional drop operations
  scripts/migrate_sql.sh
Due: none

support other options for db-migrate command
  scripts/migrate_sql.sh
Due: none

restore infra for testing
  helm/postgres/templates/job.yaml
  helm/postgres/templates/secret-provider-class.yaml
  terraform/acr.tf
  terraform/ado.tf
  terraform/aks.tf
  terraform/akv.tf
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml, pipelines/pg_helm_deploy.yml

update for config driven helm chart, revist secrets later
  helm/postgres/templates/config_map.yml
  pipelines/pg_helm_deploy.yml
  scripts/migrate_sql.sh
Due: pipelines/cluster_config.yml, pipelines/pg_helm_deploy.yml

isolated testing
  scripts/migrate_sql.sh
Due: none

local testing
  terraform/env-dev.sh
Due: pipelines/infra_deploy_dev.yml

local testing
  env-dev.sh
  scripts/env-dev.sh
Due: none

local testing
  scripts/migrate_sql.sh
Due: none

local testing
  migrations/migrations/sqls/20240602071129-admin-user-up.sql
Due: pipelines/db_migrate_dev.yml

local testing
  env-dev.sh
Due: none

update for db-migrate code
  docker/Dockerfile
Due: pipelines/docker_deploy.yml

node image needs bash
  docker/Dockerfile
Due: pipelines/docker_deploy.yml

update read user password
  env-dev.sh
  migrations/env-local.sh
  migrations/migrations/sqls/20240602071129-admin-user-up.sql
  scripts/env-dev.sh
  terraform/env-dev.sh
Due: pipelines/db_migrate_dev.yml, pipelines/infra_deploy_dev.yml

concat helm overrides to one argument
  pipelines/pg_helm_deploy.yml
Due: pipelines/pg_helm_deploy.yml

quote to protect argument
  pipelines/pg_helm_deploy.yml
Due: pipelines/pg_helm_deploy.yml

install envsubst, show contents
  docker/Dockerfile
  scripts/migrate_sql.sh
Due: pipelines/docker_deploy.yml

fix missing pgdatabase value for helm
  pipelines/pg_helm_deploy.yml
Due: pipelines/pg_helm_deploy.yml

add variables for config
  pipelines/pg_helm_deploy.yml
Due: pipelines/pg_helm_deploy.yml

remove dry-run for now
  helm/postgres/templates/config_map.yml
  pipelines/pg_helm_deploy.yml
Due: pipelines/cluster_config.yml, pipelines/pg_helm_deploy.yml

fix initial mifgration control
  helm/postgres/templates/config_map.yml
  pipelines/pg_helm_deploy.yml
Due: pipelines/cluster_config.yml, pipelines/pg_helm_deploy.yml

remove for now
  helm/postgres/templates/secret-provider-class.yaml
Due: pipelines/cluster_config.yml, pipelines/pg_helm_deploy.yml

move to bullseye
  docker/Dockerfile
Due: pipelines/docker_deploy.yml

empty json file to supress warning from db-migrate
  migrations/package.json
Due: pipelines/db_migrate_dev.yml

refine env controls
  scripts/migrate_sql.sh
Due: none

Path conditions:
  pipelines/aks_secret_drivers.yml: any of: pipelines/aks_secret_drivers.yml
  pipelines/cluster_config.yml: any of: pipelines/cluster_config.yml, helm
  pipelines/db_migrate_dev.yml: any of: pipelines/db_migrate_dev.yml, node, migrations
  pipelines/docker_deploy.yml: any of: docker/Dockerfile, pipelines/docker_deploy.yml, sql, scripts/run_sql.sh
  pipelines/infra_deploy_dev.yml: any of: pipelines/infra_deploy_dev.yml, terraform, modules, scripts/terraform_*.sh
  pipelines/loggers_helm_deploy.yml: any of: pipelines/loggers_helm_deploy.yml, helm/loggers
  pipelines/pg_helm_deploy.yml: any of: pipelines/pg_helm_deploy.yml, helm/postgres
  pipelines/secrets_helm_deploy.yml: any of: pipelines/secrets_helm_deploy.yml, helm/secrets
  pipelines/test_solution.yml: any of: scripts/run_sql.sh, sql
  pipelines/writers_helm_deploy.yml: any of: pipelines/readers_helm_deploy.yml, helm/readers
