Repository leriksen/pg: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml, pipelines/loggers_helm_deploy.yml, pipelines/pg_helm_deploy.yml, pipelines/secrets_helm_deploy.yml, pipelines/writers_helm_deploy.yml

pipelines/cluster_config.yml:
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: config
    displayName: Config Cluster
    jobs:
    - deployment: config
      displayName: Config Cluster
      workspace:
        clean: all
      environment: $(environment)
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
  ...

pipelines/infra_deploy_dev.yml:
  pool:
    vmImage: ubuntu-22.04
  stages:
  - template: ./templates/plan.yml
    parameters:
      tf_creds: credentials.tfrc.json
      tf_workspace: pg
  - template: ./templates/apply.yml
    parameters:
      tf_creds: credentials.tfrc.json
      tf_workspace: pg
      environment: $(environment)

pipelines/loggers_helm_deploy.yml:
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: deploy_helm
    displayName: Deploy Helm
    jobs:
    - deployment: helm
      displayName: Deploy Helm
      workspace:
        clean: all
      environment: $(environment)
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
  ...

pipelines/pg_helm_deploy.yml:
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: deploy_helm
    displayName: Deploy Helm
    jobs:
    - deployment: helm
      displayName: Deploy Helm
      workspace:
        clean: all
      environment: $(environment)
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
  ...

pipelines/secrets_helm_deploy.yml:
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: secretproviderclass
    displayName: Config Secret Provider Class
    jobs:
    - deployment: secretproviderclass
      displayName: Config Secret Provider Class
      workspace:
        clean: all
      environment: $(environment)
      strategy:
        runOnce:
  ...

pipelines/writers_helm_deploy.yml:
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: deploy_helm
    displayName: Deploy Helm
    jobs:
    - deployment: helm
      displayName: Deploy Helm
      workspace:
        clean: all
      environment: $(environment)
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
  ...

test solution before any packaging etc
  pipelines/test_solution.yml
Due: pipelines/infra_deploy_dev.yml

update exit code
  pipelines/test_solution.yml
  scripts/run_sql.sh
Due: pipelines/infra_deploy_dev.yml

fix
  pipelines/test_solution.yml
Due: pipelines/infra_deploy_dev.yml

update pipeline def
  pipelines/test_solution.yml
Due: pipelines/infra_deploy_dev.yml

z
  pipelines/test_solution.yml
Due: pipelines/infra_deploy_dev.yml

update jq
  scripts/run_sql.sh
Due: pipelines/infra_deploy_dev.yml

build fixture
  docker/Dockerfile
Due: pipelines/infra_deploy_dev.yml

move to db-migrate
  docker/Dockerfile
  helm/postgres/templates/deployment.yaml
  migrations/database.json
  migrations/migrations/20240512144133-initial.js
  migrations/migrations/sqls/20240512144133-initial-down.sql
  migrations/migrations/sqls/20240512144133-initial-up.sql
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml, pipelines/pg_helm_deploy.yml

revert back to sql runner
  docker/Dockerfile
Due: pipelines/infra_deploy_dev.yml

update name
  pipelines/aks_secret_drivers.yml
Due: pipelines/infra_deploy_dev.yml

update sqls
  scripts/run_sql.sh
  sql/02_create_database.sql
  sql/03_schema.sql
  sql/04_tables.sql
  sql/manifest.txt
Due: pipelines/infra_deploy_dev.yml

remove database declaration, is controlled from sqls
  terraform/ado.tf
  terraform/pg.tf
Due: pipelines/infra_deploy_dev.yml

update env helper scripts
  helm/env-dev.sh
  terraform/env-dev.sh
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

update sqls and runnner
  scripts/run_sql.sh
  sql/01_create_database.sql
  sql/02_version.sql
  sql/manifest.txt
Due: pipelines/infra_deploy_dev.yml

update deployment
  helm/postgres/templates/deployment.yaml
  pipelines/pg_helm_deploy.yml
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml, pipelines/pg_helm_deploy.yml

update triggers
  pipelines/docker_deploy.yml
Due: pipelines/infra_deploy_dev.yml

update for caching
  docker/Dockerfile
Due: pipelines/infra_deploy_dev.yml

specify default db for create
  scripts/run_sql.sh
  sql/04_tables.sql
Due: pipelines/infra_deploy_dev.yml

tidy
  helm/postgres/templates/deployment.yaml
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml, pipelines/pg_helm_deploy.yml

restore sourcing from fixture
  docker/Dockerfile
  sql/05_users.sql
Due: pipelines/infra_deploy_dev.yml

restore sourcing from fixture
  fixtures/secrets.json
Due: pipelines/infra_deploy_dev.yml

test user creation via template substitution
  scripts/run_sql.sh
  sql/05_users.sql
  sql/manifest.txt
Due: pipelines/infra_deploy_dev.yml

update triggers for downstream builds
  pipelines/docker_deploy.yml
  pipelines/infra_deploy_dev.yml
Due: pipelines/infra_deploy_dev.yml

update triggers for downstream builds
  pipelines/docker_deploy.yml
Due: pipelines/infra_deploy_dev.yml

update triggers for downstream builds
  docker/Dockerfile
  pipelines/aks_secret_drivers.yml
  pipelines/docker_deploy.yml
  pipelines/pg_helm_deploy.yml
  scripts/run_sql.sh
Due: pipelines/infra_deploy_dev.yml, pipelines/pg_helm_deploy.yml

update pools
  pipelines/aks_secret_drivers.yml
  pipelines/docker_deploy.yml
  pipelines/infra_deploy_dev.yml
  pipelines/loggers_helm_deploy.yml
  pipelines/pg_helm_deploy.yml
  pipelines/test_solution.yml
Due: pipelines/infra_deploy_dev.yml, pipelines/loggers_helm_deploy.yml, pipelines/pg_helm_deploy.yml

test init
  scripts/terraform_init.sh
Due: pipelines/infra_deploy_dev.yml

update triggers for tf pipeline
  pipelines/infra_deploy_dev.yml
Due: pipelines/infra_deploy_dev.yml

force overwrite of kubeconfig
  pipelines/aks_secret_drivers.yml
Due: pipelines/infra_deploy_dev.yml

revert to plain alpine, fiddle with logger
  docker/Dockerfile
  helm/postgres/templates/deployment.yaml
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml, pipelines/pg_helm_deploy.yml

echo stderr to logger too
  docker/Dockerfile
Due: pipelines/infra_deploy_dev.yml

trigger from infra deploy
  pipelines/aks_secret_drivers.yml
Due: pipelines/infra_deploy_dev.yml

trigger from docker build too
  pipelines/pg_helm_deploy.yml
Due: pipelines/infra_deploy_dev.yml, pipelines/pg_helm_deploy.yml

override
  helm/postgres/templates/deployment.yaml
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml, pipelines/pg_helm_deploy.yml

move back to ms hosted agents
  pipelines/aks_secret_drivers.yml
  pipelines/docker_deploy.yml
  pipelines/infra_deploy_dev.yml
  pipelines/loggers_helm_deploy.yml
  pipelines/pg_helm_deploy.yml
  pipelines/test_solution.yml
Due: pipelines/infra_deploy_dev.yml, pipelines/loggers_helm_deploy.yml, pipelines/pg_helm_deploy.yml

remove override command, fix pipeline logger
  helm/postgres/templates/deployment.yaml
  pipelines/pg_helm_deploy.yml
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml, pipelines/pg_helm_deploy.yml

stop pod restarting
  helm/postgres/templates/deployment.yaml
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml, pipelines/pg_helm_deploy.yml

fix image
  docker/Dockerfile
Due: pipelines/infra_deploy_dev.yml

fix post deploy step
  pipelines/pg_helm_deploy.yml
Due: pipelines/infra_deploy_dev.yml, pipelines/pg_helm_deploy.yml

Path conditions:
  pipelines/cluster_config.yml: any of: pipelines/cluster_config.yml, helm
  pipelines/infra_deploy_dev.yml: any file but: pipelines/cluster_config.yml
  pipelines/loggers_helm_deploy.yml: any of: pipelines/loggers_helm_deploy.yml, helm/loggers
  pipelines/pg_helm_deploy.yml: any of: pipelines/pg_helm_deploy.yml, helm/postgres
  pipelines/secrets_helm_deploy.yml: any of: pipelines/secrets_helm_deploy.yml, helm/secrets
  pipelines/writers_helm_deploy.yml: any of: pipelines/readers_helm_deploy.yml, helm/readers
