Repository leriksen/pg: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

pipelines/cluster_config.yml:
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: config
    displayName: Config Cluster
    jobs:
    - deployment: config
      displayName: Config Cluster
      workspace:
        clean: all
      environment: $(environment)
      strategy:
        runOnce:
          deploy:
            steps:
  ...

pipelines/infra_deploy_dev.yml:
  pool:
    vmImage: ubuntu-22.04
  stages:
  - template: ./templates/plan.yml
    parameters:
      tf_creds: credentials.tfrc.json
      tf_workspace: pg
  - template: ./templates/apply.yml
    parameters:
      tf_creds: credentials.tfrc.json
      tf_workspace: pg
      environment: $(environment)

idempotentiate
  pipelines/cluster_config.yml
Due: pipelines/cluster_config.yml

helm
  helm/postgres-secrets/.helmignore
  helm/postgres-secrets/Chart.yaml
  helm/postgres-secrets/templates/_helpers.tpl
  helm/postgres-secrets/templates/secret-provider-class.yaml
  helm/postgres-secrets/values.yaml
Due: pipelines/infra_deploy_dev.yml

helm package
  pipelines/cluster_config.yml
Due: pipelines/cluster_config.yml

install spc
  pipelines/cluster_config.yml
Due: pipelines/cluster_config.yml

secret testing
  helm/postgres-secrets/templates/secret-provider-class.yaml
  helm/postgres-secrets/values.yaml
  pipelines/cluster_config.yml
  terraform/pg.tf
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

dump package
  pipelines/cluster_config.yml
Due: pipelines/cluster_config.yml

helm upgrade --install
  pipelines/cluster_config.yml
Due: pipelines/cluster_config.yml

try a pod
  helm/postgres-secrets/templates/deployment.yaml
Due: pipelines/infra_deploy_dev.yml

install AAD Pod Identity
  helm/postgres-secrets/templates/secret-provider-class.yaml
  pipelines/cluster_config.yml
  terraform/kv.tf
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

change source of identity
  pipelines/cluster_config.yml
Due: pipelines/cluster_config.yml

validate
  pipelines/cluster_config.yml
Due: pipelines/cluster_config.yml

fix test
  pipelines/cluster_config.yml
Due: pipelines/cluster_config.yml

refine
  pipelines/cluster_config.yml
Due: pipelines/cluster_config.yml

docker pipelines, adjust sc's
  pipelines/cluster_config.yml
  pipelines/docker_deploy.yml
  terraform/acr.tf
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

docker pipelines, adjust sc's
  pipelines/docker_deploy.yml
Due: pipelines/infra_deploy_dev.yml

sources location
  pipelines/docker_deploy.yml
Due: pipelines/infra_deploy_dev.yml

add latest tag
  pipelines/docker_deploy.yml
Due: pipelines/infra_deploy_dev.yml

fix latest tag
  helm/postgres-secrets/templates/deployment.yaml
  pipelines/docker_deploy.yml
Due: pipelines/infra_deploy_dev.yml

change pod deployment to pull from acr
  helm/postgres-secrets/templates/deployment.yaml
Due: pipelines/infra_deploy_dev.yml

run once container
  docker/Dockerfile
  pipelines/cluster_config.yml
  scripts/run_sql.sh
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

start to build manifest scripting
  docker/Dockerfile
  sql/01_version.sql
Due: pipelines/infra_deploy_dev.yml

new ado provider
  terraform/ado.tf
  terraform/data.tf
  terraform/env-dev.sh
  terraform/provider.tf
  terraform/terraform.tf
  terraform/variables.tf
Due: pipelines/infra_deploy_dev.yml

uniquefy pg servers
  terraform/pg.tf
Due: pipelines/infra_deploy_dev.yml

refine url
  terraform/ado.tf
Due: pipelines/infra_deploy_dev.yml

authorize service connections
  terraform/ado.tf
Due: pipelines/infra_deploy_dev.yml

authorize service connections using new resource
  terraform/ado.tf
Due: pipelines/infra_deploy_dev.yml

approve service connections using new resource
  terraform/ado.tf
Due: pipelines/infra_deploy_dev.yml

automate the AKS and ACR service connections in TF, publish in azdo variable group
  pipelines/cluster_config.yml
  terraform/ado.tf
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

remove variable group, little value
  pipelines/cluster_config.yml
  terraform/ado.tf
  terraform/env-dev.sh
  terraform/set_ip.sh
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

restore pulling aks kubeconfig directly from the cluster
  pipelines/cluster_config.yml
Due: pipelines/cluster_config.yml

create namespace if required
  pipelines/cluster_config.yml
Due: pipelines/cluster_config.yml

use code as exit
  pipelines/cluster_config.yml
Due: pipelines/cluster_config.yml

fix sc
  pipelines/docker_deploy.yml
Due: pipelines/infra_deploy_dev.yml

debug
  pipelines/docker_deploy.yml
Due: pipelines/infra_deploy_dev.yml

revert
  pipelines/docker_deploy.yml
Due: pipelines/infra_deploy_dev.yml

Path conditions:
  pipelines/cluster_config.yml: any of: pipelines/cluster_config.yml
  pipelines/infra_deploy_dev.yml: any file but: pipelines/cluster_config.yml
