Repository leriksen/pg: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

Path conditions:
  pipelines/cluster_config.yml: any of: pipelines/cluster_config.yml, helm
  pipelines/infra_deploy_dev.yml: any file but: pipelines/cluster_config.yml

set context
  pipelines/docker_deploy.yml
Due: pipelines/infra_deploy_dev.yml

set timeout
  pipelines/cluster_config.yml
Due: pipelines/cluster_config.yml

remove debug check
  pipelines/docker_deploy.yml
Due: pipelines/infra_deploy_dev.yml

helper
  helm/helm.sh
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

update docker copy
  docker/Dockerfile
Due: pipelines/infra_deploy_dev.yml

trigger on docker changes
  pipelines/docker_deploy.yml
Due: pipelines/infra_deploy_dev.yml

create envvars to control the psql, pass into image, reduce command in dockerfile
  docker/Dockerfile
  helm/postgres-secrets/templates/deployment.yaml
  terraform/ado.tf
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

create envvars to control the psql, pass into image, reduce command in dockerfile
  helm/postgres-secrets/templates/deployment.yaml
  pipelines/cluster_config.yml
  terraform/env-dev.sh
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

permissions on vg, install curl for testing
  docker/Dockerfile
  terraform/ado.tf
Due: pipelines/infra_deploy_dev.yml

by default everything in the pg network fw is off
  terraform/pg.tf
Due: pipelines/infra_deploy_dev.yml

processing script
  scripts/run_sql.sh
Due: pipelines/infra_deploy_dev.yml

copy scripts in docker file
  docker/Dockerfile
Due: pipelines/infra_deploy_dev.yml

make simpler for the moment
  docker/Dockerfile
  scripts/run_sql.sh
Due: pipelines/infra_deploy_dev.yml

add manifest.txt
  sql/manifest.txt
Due: pipelines/infra_deploy_dev.yml

add second sql. and re-test whitespace skipping in script
  sql/02_schema.sql
  sql/manifest.txt
Due: pipelines/infra_deploy_dev.yml

refine scripts
  scripts/run_sql.sh
  sql/manifest.txt
Due: pipelines/infra_deploy_dev.yml

single use container
  docker/Dockerfile
Due: pipelines/infra_deploy_dev.yml

remove shell session
  docker/Dockerfile
Due: pipelines/infra_deploy_dev.yml

reorg
  helm/postgres/.helmignore
  helm/postgres/Chart.yaml
  helm/postgres/templates/_helpers.tpl
  helm/postgres/templates/deployment.yaml
  helm/postgres/values.yaml
  helm/secrets/.helmignore
  helm/secrets/Chart.yaml
  helm/secrets/templates/_helpers.tpl
  helm/secrets/templates/secret-provider-class.yaml
  helm/secrets/values.yaml
  pipelines/pg_helm_deploy.yml
  pipelines/secrets_help_deploy.yml
  terraform/env-dev.sh
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

reorg
  pipelines/secrets_helm_deploy.yml
Due: pipelines/infra_deploy_dev.yml

reorg
  pipelines/pg_helm_deploy.yml
Due: pipelines/infra_deploy_dev.yml

archive package
  helm/helm.sh
  pipelines/pg_helm_deploy.yml
  pipelines/secrets_helm_deploy.yml
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

rename
  pipelines/secrets_helm_deploy.yml
Due: pipelines/infra_deploy_dev.yml

must be strings
  helm/secrets/templates/secret-provider-class.yaml
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

rename release
  pipelines/secrets_helm_deploy.yml
Due: pipelines/infra_deploy_dev.yml

refactor
  helm/postgres/templates/deployment.yaml
  helm/postgres/templates/secret-provider-class.yaml
  helm/postgres/values.yaml
  helm/secrets/.helmignore
  helm/secrets/Chart.yaml
  helm/secrets/templates/_helpers.tpl
  helm/secrets/values.yaml
  pipelines/aks_secret_drivers.yml
  pipelines/pg_helm_deploy.yml
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

port and default
  helm/postgres/templates/deployment.yaml
  helm/postgres/values.yaml
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

fix processing of last line if there is no line ending
  scripts/run_sql.sh
  sql/manifest.txt
Due: pipelines/infra_deploy_dev.yml

update for logging
  docker/Dockerfile
  helm/postgres/templates/deployment.yaml
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

deploy logger
  helm/loggers/.helmignore
  helm/loggers/Chart.yaml
  helm/loggers/templates/_helpers.tpl
  helm/loggers/templates/deployment.yaml
  helm/loggers/values.yaml
  helm/postgres/templates/deployment.yaml
  pipelines/loggers_helm_deploy.yml
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

rename deployment
  helm/loggers/templates/_helpers.tpl
  helm/loggers/templates/deployment.yaml
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

create a writer
  helm/loggers/templates/deployment.yaml
  helm/writers/.helmignore
  helm/writers/Chart.yaml
  helm/writers/templates/_helpers.tpl
  helm/writers/templates/deployment.yaml
  helm/writers/values.yaml
  pipelines/writers_helm_deploy.yml
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

write to stdout
  helm/loggers/templates/deployment.yaml
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

rename to readers
  helm/readers/.helmignore
  helm/readers/Chart.yaml
  helm/readers/templates/_helpers.tpl
  helm/readers/templates/deployment.yaml
  helm/readers/values.yaml
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

rename
  pipelines/writers_helm_deploy.yml
Due: pipelines/infra_deploy_dev.yml

rename to readers
  pipelines/readers_helm_deploy.yml
Due: pipelines/infra_deploy_dev.yml

unify prod/consumer loggers
  helm/loggers/templates/deployment.yaml
  helm/readers/.helmignore
  helm/readers/Chart.yaml
  helm/readers/templates/_helpers.tpl
  helm/readers/templates/deployment.yaml
  helm/readers/values.yaml
  pipelines/readers_helm_deploy.yml
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

add consumer for logs from PG
  helm/postgres/templates/deployment.yaml
Due: pipelines/cluster_config.yml, pipelines/infra_deploy_dev.yml

turn json into args
  docker/Dockerfile
  scripts/run_sql.sh
Due: pipelines/infra_deploy_dev.yml

test solution before any packaging etc
  docker/Dockerfile
  fixtures/secrets.json
  pipelines/test_solution.yml
Due: pipelines/infra_deploy_dev.yml
